.note {
    border:1px solid blue;
    border-radius: 15px;
    width: 50%;   
    padding:5px; 
    margin:10px;
    background-color:  rgb(243, 233, 233);
    color:rgb(3, 0, 8);
    /* font-size: 0.1rem; */
}

.title {
    font-size: 1rem;
    font-weight: bold;
}
.time {
    color:rgb(32, 32, 41);
    font-size: 1rem;
}
.message {
    font-size: 1rem;
}