.message-area {
    height: 60vh;
    width: 70%;
    margin:auto;
    text-align: left;
    padding: 20px;
    overflow-y: scroll;
    /* border:3px solid rgb(44, 40, 40); */
    border:3px solid blue;
    border-radius: 10px;
    background-color: white;
}

.input-area {
    display: flex;
    width: 73%;
    margin:0 auto;
    color:white;
    background-color: white;
}

.input {
    flex:5;
    padding: 10px;
    margin:auto;
    border:3px solid blue;
    background-color: white;    
    border-radius: 10px;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(14, 13, 13, 0.589);
    opacity: 1; 
  }
 

.search {
    font-size: 1rem;
    flex:1
    
}

button:hover {
   background-color:blue;
   color:white;
}

/* style={{width:"57%", margin:"auto" ,padding:"0px 20px"}}  */