.message-area {
    height: 60vh;
    width: 70%;
    margin:auto;
    text-align: left;
    padding: 20px;
    overflow-y: scroll;
    /* border:3px solid rgb(44, 40, 40); */
    border-top:1px solid blue;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    border-bottom:1px solid blue;
    border-radius: 10px;
    background-color: white;
}

.input-area {
    width: "70%";
    margin:0 auto;
    color:brown
    /* background-color: blue; */
}

.input {
    padding: 10px;
    width: 68%;
    margin:auto;
    border:3px solid blue;
    background-color: brown;
    color: gold;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(156, 142, 63);
    opacity: 1; 
  }


.search {
    font-size: 2rem;
    
}

/* style={{width:"57%", margin:"auto" ,padding:"0px 20px"}}  */